@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  padding-top: 2.4rem;
  font-size: 10pt;
}
p {
  font-size: 100%;
}
div {
  padding: 0;
}
.display-4 {
  font-weight: 400;
}
.navbar {
  padding: 1rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  opacity: 0.85;
}
.navbar-nav {
  display: flex !important;
  justify-content: center !important;
}
.navbar-nav li {
  padding-right: 1em;
}
.nav-item:last-of-type {
  padding-right: 0;
}
.nav-link {
  font-size: 110% !important;
}
.navbar:hover {
  opacity: 1;
}
.carousel-inner img {
  width: 100%;
  height: 25rem;
  object-fit: contain;
  background-size: cover;
  background-color: white;
  background-position: center center;
  opacity: 0.3;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 0rem;
  padding-right: 0rem;
}
.carousel-caption {
  position: fixed;
  top: 50%;
  transform: translateY(-100%);
  color: black;
}
.carousel-indicators li,
.carousel-indicators li.active {
  float: left;
  width: 10%;
  height: 10px;
  margin: 0.1rem;
  border-radius: 10px;
  border-color: #fd5949;
  border: 10px;
  background: black;
}
.carousel-indicators li.active {
  background: #fd5949;
}
.carousel-caption h1 {
  font-size: 250%;
  font-weight: 500;
  text-transform: uppercase;
  color: black;
  text-shadow: 1px 1px 5px #6c757d;
}
.carousel-caption h3 {
  font-size: 200%;
  font-weight: 400;
  color: black;
  text-shadow: 1px 1px 10px #6c757d;
  padding-bottom: 1rem;
}
.carousel-caption h1 span,
h3 span {
  background-color: white;
}
#top_sec {
  background-color: #f8f8f8;
}
#jumbotron {
  padding-bottom: 1rem;
}
.jumbotron col-xs-12 {
  padding: 0.5rem !important;
}
#about_me {
  background-color: #f0f0f0;
  padding-top: 50px;
}
#projects {
  background-color: #dcdcdc;
  padding-top: 50px;
}
#publications {
  background-color: #f8f8f8;
  padding-top: 50px;
}
#contact {
  background-color: #dcdcdc;
  padding-top: 50px;
}
.btn-primary {
  background-color: #fd5949;
  border: 1px solid black;
}
.btn-primary:hover {
  background-color: #fd5949;
  border: 1px solid black;
}
.btn-outline-dark {
  background-color: mediumseagreen;
  border: 1px solid black;
}
.jumbotron {
  padding-bottom: 0rem;
  padding-top: 0.5rem;
  padding-left: 0rem;
  padding-right: 0rem;
  border-radius: 0;
  margin-bottom: 0px !important;
}
p.lead {
  padding-left: 1em;
  padding-right: 1em;
  font-size: 110%;
  margin-bottom: 0pt;
}
.padding {
  padding-bottom: 2rem;
}
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 0rem;
}
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}
.li_title {
  height: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #b4b4b4;
}
.fa-code {
  color: #e54d26;
}
.fa-industry {
  color: #563d7c;
}
.fa-language {
  color: #2163af;
}
.fa-code,
.fa-industry,
.fa-language {
  font-size: 4em;
  margin: 1rem;
}
.social a {
  font-size: 3.5em;
  margin: 0rem;
  padding: 2rem;
}
.social_1l a {
  padding: 0.8rem;
  font-size: 250%;
  text-align: center;
}
.fa-facebook {
  color: #3b5998;
}
.fa-twitter {
  color: #00aced;
}
.fa-instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
.fa-youtube {
  color: #bb0000;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-youtube:hover,
.fa-github:hover,
.ai-orcid:hover,
.ai-google-scholar-square:hover {
  color: #d5d5d5 !important;
}
hr {
  height: 0pt !important;
}
hr.light {
  border-top: 2px solid #d5d5d5;
  width: 50%;
  margin: 0 auto;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}
hr.light-100 {
  border-top: 2px solid #343a40;
  opacity: 0.75;
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}
hr.light-90 {
  border-top: 2px solid #343a40;
  opacity: 0.75;
  width: 90%;
  margin: 0 auto;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}
hr.end_br {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 0 px !important;
  margin-bottom: 0 px !important;
}
.card {
  border: 2px solid rgb(129, 129, 129, 1);
  width: 360px;
}
.col {
  padding-bottom: 1rem;
}

/*---Media Queries --*/
@media (max-width: 992px) {
  .social a {
    font-size: 3.5em;
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .navbar-nav li {
    padding-right: 0.6em;
  }
  .nav-link {
    font-size: 100% !important;
  }
  .carousel-caption {
    top: 55%;
  }
  .carousel-caption h1 {
    font-size: 200%;
  }
  .carousel-caption h3 {
    font-size: 140%;
    font-weight: 400;
    padding-bottom: 0.2rem;
  }
  h3 {
    font-size: 140%;
    font-weight: 400;
    padding-bottom: 0.2rem;
  }
  .carousel-caption .btn {
    font-size: 95%;
    padding: 8px 14px;
  }
  .display-4 {
    font-size: 200%;
  }
  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
  body {
    font-size: 90%;
  }
}
@media (max-width: 576px) {
  .nav-link {
    font-size: 110% !important;
  }
  .carousel-caption {
    top: 55%;
  }
  .carousel-caption h1 {
    font-size: 200%;
  }
  .carousel-caption h3 {
    font-size: 130%;
  }
  h3 {
    font-size: 130%;
  }
  .carousel-caption .btn {
    font-size: 90%;
    padding: 4px 8px;
  }
  .display-4 {
    font-size: 200%;
  }
  .social a {
    font-size: 2em;
    padding: 0.7rem;
  }
  .social_1l a {
    padding: 0.7rem;
    font-size: 200%;
    text-align: center;
  }
  body {
    font-size: 80%;
  }
  p.lead {
    font-size: 110%;
  }
}
/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url("img/mac.png");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

.container-fluid {
  max-width: 1000px;
  margin: auto;
  border: 10px red;
}
footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 1rem;
  text-align: center;
  font-size: 120%;
  max-width: 100%;
}
footer h5 {
  font-size: 150%;
}
#top_section a {
  padding: 3rem;
}
.img_profile {
  max-height: 20em;
  margin: 0 auto;
  margin: 10px;
  border-radius: 50px;
  background-image: url(http://pawelskowronek.me/images/profile.jpg);
  box-shadow: 0px 0px 20px #6c757d;
}
ul.li-2col-lg {
  padding-left: 3rem;
  font-size: 110%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.ul-2col-lg {
  padding-bottom: 0;
}
thead {
  font-size: larger;
  font-weight: bold;
}
table {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 2px solid #ddd; /* Add a grey border */
}
tr {
  border: 1px solid #ddd;
}
tr a {
  font-size: 110%;
}
td {
  border: 1px solid #ddd;
  background-color: white;
  font-size: 110%;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}
.pub_tab_col {
  text-align: center;
  vertical-align: center;
}
th {
  border: 1px solid #ddd;
  cursor: pointer;
  background-color: gray;
  margin: auto;
  font-size: 120%;
  text-align: center;
  vertical-align: center;
  padding: 0.5em;
}
td:hover,
th:hover {
  background-color: #f1f1f1;
}
table p {
  margin-bottom: 0pt;
  font-style: italic;
}
.pub_tab_col a {
  padding: 30% 60%;
  margin: -50px;
}
.button_top {
  position: fixed;
  bottom: 1rem;
  right: 0.5rem;
  border: 2px bisque solid;
  background-color: darkslategrey;
  padding: 0.1em;
  margin: 0.1em;
  font-size: 2em;
  color: wheat;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 15px;
  z-index: 99;
  font-size: 1.2em;
  border: none;
  outline: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  padding: 0.4em;
  border-radius: 0.25em;
}
#myBtn:hover {
  background-color: darkblue;
}
