em {
  color: red;
  font-style: bold;
}
img {
  width: 200px;
  border-radius: 50px;
  float: left;
  margin-right: 10px;
}
.project_img {
  width: 400px;
  border-radius: 0px;
  float: left;
  margin: 10px;
}
.user_name {
  font-weight: bold;
}
.code_fig {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 0px;
  float: right;
  margin: 1em;
}
#top_sec {
  font-size: large;
  margin: 1em;
}
.projects {
  margin: 1em;
}
.publications {
  margin: 1em;
}
#initial_explanation {
  margin-left: 30%;
  margin-right: 30%;
}
#highlighted {
  background-color: yellow;
}
.nav {
  background-color: lightgray;
  height: 3em;
}
.nav ul {
  padding: 0;
  margin-left: 0;
  float: left;
}
.nav li {
  vertical-align: middle;
  list-style-type: none;
  padding-left: 0;
  display: inline;
  margin-left: 0.5em;
}
#button_top {
  border-color: orange;
  position: fixed;
  top: 95%;
  left: 95%;
  width: 1em;
  border: 1px blue solid;
  padding: 0.1em;
  margin: 0.1em;
}
